html, body {
    margin: 0 auto;
    font-family: "Calibri", sans-serif;

}
.mainIndex{

    width: 100%;
}
.indexContent{

    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
}

.game_none form{
    text-align: center;
    width: 100%;
}

.game_none form label{
    width: 100%;
}
.game_none form input{
    width: 100%;
}


.grid {
    border-collapse: collapse;
}

.grid tr td {
    background-color: #5d8;
    padding: 15px;
    border: 1px #d9d9d9 solid;
}

.grid tr td.boat {
    background-color: #c55;
}
