<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game</title>
</head>
<body ng-app="mainApp">
    <div class="mainIndex">

        <div class="indexContent"  ng-controller="MainController">
       
            <div class="game_busy">
                <h1>Zeeslag: Let's battle</h1>

                <table class="grid">
                    <tr ng-repeat="y in gridArray">
                        <td ng-repeat="x in gridArray"  class="{{x}}{{y}}">{{x}}{{y}}</td>
                    </tr>
                </table>

                <button ng-click="restart()"> Restart</button>
            </div>
        
        
        </div>
    </div>
</body>
</html>