<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="base.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
          rel="stylesheet">
    <script src="base_angular_projector.js"></script>

    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>

<body ng-app="myapp">
<div>

</div>


<div ng-controller="GrideController">


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 ">
                <!--<div ng-repeat="player in gride.players" class="col-md-3 players">-->
                <!--<div href="#" class="col-md-3 ">-->
                <!--<img class="player_pictuur" ng-src="{{player.photo}}">-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-md-12 comand" id="box">
                    <div href="#" class="col-md-9 col-md-offset-1">
                        <div ng-repeat="action in actions" class="content">
                            <pre>{{action}}</pre>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <table>
                    <tr ng-repeat="y in range(0,gride.height+1)">

                        <td ng-repeat="x in range(0,gride.length+1)" class="{{x}}{{y}}">

                            <div ng-if="x==0 || y==0 || x==gride.length+1 || y==gride.length+1" class="grey">
                                <div ng-if=" x==0 && y==gride.length+1" class="rood">
                                    <!--<img ng-src="{{users.user_photo}}">-->
                                    <!--<img class="reflect" ng-src="{{users.user_photo}}">-->
                                    <!--<div id="wrap">-->
                                    <!--<div class="box" ng-repeat="n in range(1,100)"></div>-->
                                    <!--</div>-->
                                </div>
                                <div ng-if="x==gride.length+1 && y==0 || x==gride.length+1 && y==gride.length+1 ||x==0 && y==0   "
                                     class="geel">
                                    <!--<img ng-src="{{users.user_photo}}">-->
                                    <!--<img class="reflect" ng-src="{{users.user_photo}}">-->
                                    <!--<div id="wrap">-->
                                    <!--<div class="box" ng-repeat="n in range(1,100)"></div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    //    $( document ).ready( function () {
    //        setInterval(function(){
    //            console.log("ready");
    //        }, 500);
    //
    //
    //    })
</script>


</body>
</html>